<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"><%= @user.name %>のお気に入り</h4>
      </div>
      <div class="card-body">
        <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 100 }) %>" alt="">
      </div>
    </div>
  </aside>
  
  <div class="col-sm-8">
    <ul class="list-unstyled">
      <% @likes.each do |likemcp| %>
        <li class="media mb-3">
          <img class="mr-2 rounded" src="<%= gravatar_url(likemcp.user, { size: 50 }) %>" alt="">
          <div class="media-body">
            <div>
              <%= link_to likemcp.user.name, user_path(likemcp.user) %> <span class="text-muted">posted at <%= likemcp.created_at %></span>
            </div>
            <div>
              <p><%= likemcp.content %></p>
            </div>
            <% if current_user.likempost?(likemcp) %>
              <%= form_with(model: current_user.favorites.find_by(like_id: likemcp.id), local: true, method: :delete) do |f| %>
                <%= hidden_field_tag :like_id, likemcp.id %>
                <%= f.submit 'unfavorite ', class: 'btn btn-sm btn-info' %>
              <% end %>
            <% else %>
          <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

